@charset "UTF-8";

@font-face {
  font-family: 'fira_sans_light';
  src: url("/fonts/firasans/firasans-light-webfont.eot");
  src: url("/fonts/firasans/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-light-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-light-webfont.woff") format("woff"), url("/fonts/firasans/firasans-light-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-light-webfont.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_lightitalic';
  src: url("/fonts/firasans/firasans-lightitalic-webfont.eot");
  src: url("/fonts/firasans/firasans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-lightitalic-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-lightitalic-webfont.woff") format("woff"), url("/fonts/firasans/firasans-lightitalic-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-lightitalic-webfont.svg#fira_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fira_sans_regular';
  src: url("/fonts/firasans/firasans-regular-webfont.eot");
  src: url("/fonts/firasans/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-regular-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-regular-webfont.woff") format("woff"), url("/fonts/firasans/firasans-regular-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-regular-webfont.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_italic';
  src: url("/fonts/firasans/firasans-italic-webfont.eot");
  src: url("/fonts/firasans/firasans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-italic-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-italic-webfont.woff") format("woff"), url("/fonts/firasans/firasans-italic-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-italic-webfont.svg#fira_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fira_sans_medium';
  src: url("/fonts/firasans/firasans-medium-webfont.eot");
  src: url("/fonts/firasans/firasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-medium-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-medium-webfont.woff") format("woff"), url("/fonts/firasans/firasans-medium-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-medium-webfont.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans_mediumitalic';
  src: url("/fonts/firasans/firasans-mediumitalic-webfont.eot");
  src: url("/fonts/firasans/firasans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-mediumitalic-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-mediumitalic-webfont.woff") format("woff"), url("/fonts/firasans/firasans-mediumitalic-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-mediumitalic-webfont.svg#fira_sansmedium_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fira_sans_bold';
  src: url("/fonts/firasans/firasans-bold-webfont.eot");
  src: url("/fonts/firasans/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-bold-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-bold-webfont.woff") format("woff"), url("/fonts/firasans/firasans-bold-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-bold-webfont.svg#fira_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sans-bolditalic';
  src: url("/fonts/firasans/firasans-bolditalic-webfont.eot");
  src: url("/fonts/firasans/firasans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/firasans/firasans-bolditalic-webfont.woff2") format("woff2"), url("/fonts/firasans/firasans-bolditalic-webfont.woff") format("woff"), url("/fonts/firasans/firasans-bolditalic-webfont.ttf") format("truetype"), url("/fonts/firasans/firasans-bolditalic-webfont.svg#fira_sansbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto_light';
  src: url("/fonts/roboto/roboto-light-webfont.eot");
  src: url("/fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("/fonts/roboto/roboto-light-webfont.woff") format("woff"), url("/fonts/roboto/roboto-light-webfont.ttf") format("truetype"), url("/fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_regular';
  src: url("/fonts/roboto/roboto-regular-webfont.eot");
  src: url("/fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("/fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("/fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("/fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_medium';
  src: url("/fonts/roboto/roboto-medium-webfont.eot");
  src: url("/fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("/fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("/fonts/roboto/roboto-medium-webfont.ttf") format("truetype"), url("/fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold';
  src: url("/fonts/roboto/roboto-bold-webfont.eot");
  src: url("/fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("/fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("/fonts/roboto/roboto-bold-webfont.ttf") format("truetype"), url("/fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.sw-theme-custom {
  margin: 15px 0;
}

.sw-theme-custom .sw-container {
  min-height: 300px;
}

.sw-theme-custom .step-content {
  border: none;
  margin: 30px 0;
  padding: 20px 0;
  border-radius: 3px;
}

.sw-theme-custom .step-content-top {
  text-align: center;
  padding: 15px 0 30px 0;
}

.sw-theme-custom .step-content-top h4 {
  text-transform: uppercase;
  font-family: "fira_sans_medium", Arial, sans-serif;
  color: #4BC04E;
}

.sw-theme-custom .step-content-top span {
  color: #89969F;
  font-family: "roboto_medium", Arial, sans-serif;
}

.sw-theme-custom .step-content-inner {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 60px;
}

.sw-theme-custom .sw-toolbar {
  background: #fff;
  border-radius: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0 !important;
}

.sw-theme-custom .sw-toolbar-top {
  border-bottom-color: #ddd !important;
}

.sw-theme-custom .sw-toolbar-bottom {
  border-top-color: #ddd !important;
  border-bottom-color: #ddd !important;
  float: none;
  padding: 0 20px;
  font-family: "fira_sans_medium", Arial, sans-serif;
  width: 100%;
  padding-bottom: 120px;
  display: block;
  text-align: center;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev,
.sw-theme-custom .sw-toolbar-bottom .sw-btn-next {
  padding: 15px 20px;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev {
  background: #656d9c;
  border: none;
  color: #fff;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev.disabled {
  background: rgba(244, 246, 250, 0.5);
  color: #333;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev.disabled:hover {
  background: #f4f6fa;
  color: #515053;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev:active,
.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev:focus,
.sw-theme-custom .sw-toolbar-bottom .sw-btn-prev:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-next {
  background: #4BC04E;
  border: none;
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-next:hover {
  background: rgba(75, 192, 78, 0.8);
}

.sw-theme-custom .sw-toolbar-bottom .sw-btn-next:active,
.sw-theme-custom .sw-toolbar-bottom .sw-btn-next:focus,
.sw-theme-custom .sw-toolbar-bottom .sw-btn-next:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.sw-theme-custom > ul.step-anchor {
  position: relative;
  background: #fff;
  border: none;
  list-style: none;
  font-family: "fira_sans_medium", Arial, sans-serif;
  padding: 0 20px;
}

.sw-theme-custom > ul.step-anchor > li {
  position: relative;
  border: none;
  width: 25%;
  margin: 0;
  padding: 30px 0;
}

.sw-theme-custom > ul.step-anchor > li > a {
  border: none;
  color: #ccc;
  text-decoration: none;
  outline-style: none;
  padding: 0;
  text-transform: uppercase;
}

.sw-theme-custom > ul.step-anchor > li > a .jam-check {
  border-radius: 50%;
  color: #fff;
  background: #C8D3DA;
  font-size: 16px;
  padding: 3px;
  vertical-align: middle;
  top: -3px;
  position: relative;
  margin-right: 10px;
  font-weight: bold;
}

.sw-theme-custom > ul.step-anchor > li > a:hover {
  color: #ccc;
  background: transparent;
}

.sw-theme-custom > ul.step-anchor > li > a:focus {
  color: #ccc;
  border: none;
}

.sw-theme-custom > ul.step-anchor > li > a:after {
  content: "";
  background: #4BC04E;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.sw-theme-custom > ul.step-anchor > li.clickable > a:hover {
  color: #999;
}

.sw-theme-custom > ul.step-anchor > li.active > a {
  color: #333;
}

.sw-theme-custom > ul.step-anchor > li.active > a .jam-check {
  border: 2px solid #4BC04E;
  background: #C2F2C3;
  color: #4BC04E;
}

.sw-theme-custom > ul.step-anchor > li.active > a:hover {
  border: none;
}

.sw-theme-custom > ul.step-anchor > li.active > a:after {
  content: "";
  background: #c2f2c3;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sw-theme-custom > ul.step-anchor > li.done > a {
  color: #4BC04E;
}

.sw-theme-custom > ul.step-anchor > li.done > a:after {
  background: #4BC04E;
}

.sw-theme-custom > ul.step-anchor > li.done > a .jam-check {
  border: 2px solid #4BC04E;
  background: #4BC04E;
  color: #fff;
}

.sw-theme-custom > ul.step-anchor > li.done > a:after {
  content: "";
  background: #4BC04E;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sw-theme-custom > ul.step-anchor > li.danger > a {
  color: #d9534f;
}

.sw-theme-custom > ul.step-anchor > li.danger > a:after {
  background: #d9534f;
}

.sw-theme-custom > ul.step-anchor > li.disabled > a {
  color: #eee !important;
}

.sw-theme-custom > ul.step-anchor > li.disabled > a:hover {
  color: #eee !important;
}

.sw-theme-custom > ul.step-anchor > li.disabled > a:after {
  background: #eee;
}

/* Anchors styles */

/* Active anchors */

/* Done anchors */

/* Danger anchors */

/* Responsive CSS */

@media screen and (max-width: 768px) {
  .sw-theme-custom > ul.step-anchor:before {
    top: 0;
    bottom: 0;
    left: 10px;
    width: 5px;
    height: 100%;
    background-color: #f4f6fa;
    display: block;
    margin-right: 10px;
  }

  .sw-theme-custom > ul.step-anchor > li {
    margin-left: 20px;
    display: block;
    clear: both;
  }

  .sw-theme-custom > ul.step-anchor > li > a {
    text-align: left;
    margin-left: 0;
    display: block;
  }

  .sw-theme-custom > ul.step-anchor > li > a:before {
    top: 5px;
    left: -23px;
    margin-right: 10px;
    display: block;
  }

  .sw-theme-custom > ul.step-anchor > li > a:after {
    display: none;
  }
}

/*!
 * Select2 Bootstrap4 Theme v1.0.0 (https://github.com/berkan52/select2-bootstrap4-theme)
 * 
 * A theme for Select2 v4 and Bootstrap 4.0.0-beta.2 
 * 
 * Release v1.0.0 - 12-12-2017 
 * Copyright 2017 Berkan Akyürek <berkan52@gmail.com> 
 * Licensed under MIT 
 */

.select2-container--bootstrap4 {
  display: block;
}

.select2-container--bootstrap4 .select2-selection {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1rem;
  outline: 0;
}

.select2-container--bootstrap4 .select2-selection.form-control {
  border-radius: 0.25rem;
}

.select2-container--bootstrap4 .select2-search--dropdown .select2-search__field {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1rem;
}

.select2-container--bootstrap4 .select2-search__field {
  outline: 0;
}

.select2-container--bootstrap4 .select2-search__field::-webkit-input-placeholder {
  color: #868e96;
}

.select2-container--bootstrap4 .select2-search__field:-moz-placeholder {
  color: #868e96;
}

.select2-container--bootstrap4 .select2-search__field::-moz-placeholder {
  color: #868e96;
  opacity: 1;
}

.select2-container--bootstrap4 .select2-search__field:-ms-input-placeholder {
  color: #868e96;
}

.select2-container--bootstrap4 .select2-results__option {
  padding: 0.75rem 0.375rem;
  font-size: 1rem;
}

.select2-container--bootstrap4 .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--bootstrap4 .select2-results__option[aria-disabled=true] {
  color: #868e96;
  cursor: not-allowed;
}

.select2-container--bootstrap4 .select2-results__option[aria-selected=true] {
  background-color: #f8f9fa;
  color: #16181b;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected] {
  background-color: #007bff;
  color: #fff;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option {
  padding: 0.75rem 0.375rem;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -0.375rem;
  padding-left: 0.75rem;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -0.75rem;
  padding-left: 1.125rem;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1.125rem;
  padding-left: 1.5rem;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1.5rem;
  padding-left: 1.875rem;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1.875rem;
  padding-left: 2.25rem;
}

.select2-container--bootstrap4 .select2-results__group {
  color: #868e96;
  display: block;
  padding: 0.75rem 0.375rem;
  font-size: 75%;
  line-height: 1;
  white-space: nowrap;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open .select2-selection {
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  border-color: #80bdff;
}

.select2-container--bootstrap4.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #868e96 transparent;
  border-width: 0 0.25rem 0.25rem 0.25rem;
}

.select2-container--bootstrap4.select2-container--open.select2-container--below .select2-selection {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: transparent;
}

.select2-container--bootstrap4.select2-container--open.select2-container--above .select2-selection {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-color: transparent;
}

.select2-container--bootstrap4 .select2-selection__clear {
  color: #868e96;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--bootstrap4 .select2-selection__clear:hover {
  color: #343a40;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection {
  border-color: #ced4da;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection,
.select2-container--bootstrap4.select2-container--disabled .select2-search__field {
  cursor: not-allowed;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection,
.select2-container--bootstrap4.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
  background-color: #e9ecef;
}

.select2-container--bootstrap4.select2-container--disabled .select2-selection__clear,
.select2-container--bootstrap4.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {
  display: none;
}

.select2-container--bootstrap4 .select2-dropdown {
  border-color: #80bdff;
  border-width: 1px;
  overflow-x: hidden;
  margin-top: -1px;
}

.select2-container--bootstrap4 .select2-dropdown--above {
  margin-top: 1px;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--bootstrap4 .select2-selection--single {
  height: calc(2.25rem + 2px);
  line-height: 1;
  padding: 0.75rem 1.125rem 0.75rem 0.375rem;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  bottom: 0;
  right: 0.375rem;
  top: 0;
  width: 0.25rem;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  border-color: #868e96 transparent transparent transparent;
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0.25rem;
  height: 0;
  left: 0;
  margin-left: -0.25rem;
  margin-top: -0.125rem;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  color: #495057;
  padding: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  color: #868e96;
}

.select2-container--bootstrap4 .select2-selection--multiple {
  min-height: calc(2.25rem + 2px);
  padding: 0;
  height: auto;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0.75rem 0.375rem 0 0.75rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__placeholder {
  color: #868e96;
  float: left;
  margin-top: 5px;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  color: #495057;
  background: transparent;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  cursor: default;
  float: left;
  margin: -0.25rem 0 0 0.1875rem;
  padding: 0 0.75rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field {
  background: transparent;
  padding: 0 0.375rem;
  height: calc(2.25rem + 2px)-2;
  line-height: 1;
  margin-top: 0;
  min-width: 5em;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  color: #868e96;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.375rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #343a40;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear {
  margin-top: 0.75rem;
}

.select2-container--bootstrap4 .select2-selection--single.input-sm,
.input-group-sm .select2-container--bootstrap4 .select2-selection--single,
.form-group-sm .select2-container--bootstrap4 .select2-selection--single {
  border-radius: 0.2rem;
  font-size: 75%;
  height: calc(1.8125rem + 2px);
  line-height: 1;
  padding: 0.5rem 1rem 0.5rem 0.25rem;
}

.select2-container--bootstrap4 .select2-selection--single.input-sm .select2-selection__arrow b,
.input-group-sm .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b,
.form-group-sm .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  margin-left: -0.5rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-sm,
.input-group-sm .select2-container--bootstrap4 .select2-selection--multiple,
.form-group-sm .select2-container--bootstrap4 .select2-selection--multiple {
  min-height: calc(1.8125rem + 2px);
  border-radius: 0.2rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-sm .select2-selection__rendered,
.input-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered,
.form-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  padding: 0.5rem 0.25rem 0 0.5rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-sm .select2-selection__choice,
.input-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice,
.form-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  font-size: 75%;
  line-height: 1;
  margin: 0 0 0 0.125rem;
  padding: 0 0.5rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-sm .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0 0.25rem;
  font-size: 75%;
  height: calc(1.8125rem + 2px)-2;
  line-height: 1;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-sm .select2-selection__clear,
.input-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear,
.form-group-sm .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear {
  margin-top: 0.5rem;
}

.select2-container--bootstrap4 .select2-selection--single.input-lg,
.input-group-lg .select2-container--bootstrap4 .select2-selection--single,
.form-group-lg .select2-container--bootstrap4 .select2-selection--single {
  border-radius: 0.3rem;
  font-size: 1.25rem;
  height: calc(2.875rem + 2px);
  line-height: 1;
  padding: 1rem 1.4375rem 1rem 0.5rem;
}

.select2-container--bootstrap4 .select2-selection--single.input-lg .select2-selection__arrow,
.input-group-lg .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow,
.form-group-lg .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  width: 0.3125rem;
}

.select2-container--bootstrap4 .select2-selection--single.input-lg .select2-selection__arrow b,
.input-group-lg .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b,
.form-group-lg .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  border-width: 0.3125rem 0.3125rem 0 0.3125rem;
  margin-left: -0.3125rem;
  margin-left: -1rem;
  margin-top: -0.15625rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-lg,
.input-group-lg .select2-container--bootstrap4 .select2-selection--multiple,
.form-group-lg .select2-container--bootstrap4 .select2-selection--multiple {
  min-height: calc(2.875rem + 2px);
  border-radius: 0.3rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-lg .select2-selection__choice,
.input-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice,
.form-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 0.25rem;
  margin: 0rem 0 0 0.25rem;
  padding: 0 1rem;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-lg .select2-search--inline .select2-search__field,
.input-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0 0.5rem;
  font-size: 1.25rem;
  height: calc(2.875rem + 2px)-2;
  line-height: 1;
}

.select2-container--bootstrap4 .select2-selection--multiple.input-lg .select2-selection__clear,
.input-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear,
.form-group-lg .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear {
  margin-top: 1rem;
}

.select2-container--bootstrap4 .select2-selection.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #868e96 transparent;
  border-width: 0 0.3125rem 0.3125rem 0.3125rem;
}

.input-group-lg .select2-container--bootstrap4 .select2-selection.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #868e96 transparent;
  border-width: 0 0.3125rem 0.3125rem 0.3125rem;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--single {
  padding-left: 1.125rem;
  padding-right: 0.375rem;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 0.375rem;
  right: auto;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--single .select2-selection__arrow b {
  margin-left: 0;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--bootstrap4[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--bootstrap4[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 0;
  margin-right: 0.1875rem;
}

.select2-container--bootstrap4[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.has-warning .select2-dropdown,
.has-warning .select2-selection {
  border-color: #ffc107;
}

.has-warning .select2-container--focus .select2-selection,
.has-warning .select2-container--open .select2-selection {
  border-color: #d39e00;
}

.has-warning.select2-drop-active {
  border-color: #d39e00;
}

.has-warning.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #d39e00;
}

.has-error .select2-dropdown,
.has-error .select2-selection {
  border-color: #dc3545;
}

.has-error .select2-container--focus .select2-selection,
.has-error .select2-container--open .select2-selection {
  border-color: #bd2130;
}

.has-error.select2-drop-active {
  border-color: #bd2130;
}

.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #bd2130;
}

.has-success .select2-dropdown,
.has-success .select2-selection {
  border-color: #28a745;
}

.has-success .select2-container--focus .select2-selection,
.has-success .select2-container--open .select2-selection {
  border-color: #1e7e34;
}

.has-success.select2-drop-active {
  border-color: #1e7e34;
}

.has-success.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #1e7e34;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap4 > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:first-child + .select2-container--bootstrap4 > .selection > .select2-selection.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap4:not(:last-child) > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container--bootstrap4:not(:last-child) > .selection > .select2-selection.form-control {
  border-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap4:last-child > .selection > .select2-selection,
.input-group > .select2-hidden-accessible:not(:first-child):not(:last-child) + .select2-container--bootstrap4:last-child > .selection > .select2-selection.form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .select2-container--bootstrap4 {
  display: table;
  table-layout: fixed;
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 0;
}

.input-group > .select2-container--bootstrap4 > .selection > .select2-selection.form-control {
  float: none;
}

.input-group > .select2-container--bootstrap4.select2-container--open,
.input-group > .select2-container--bootstrap4.select2-container--focus {
  z-index: 3;
}

.input-group > .select2-container--bootstrap4,
.input-group > .select2-container--bootstrap4 .input-group-btn,
.input-group > .select2-container--bootstrap4 .input-group-btn .btn {
  vertical-align: top;
}

.form-control.select2-hidden-accessible {
  position: absolute !important;
  width: 1px !important;
}

@media (min-width: 576px) {
  .form-inline .select2-container--bootstrap4 {
    display: inline-block;
  }
}

.select2-container--bootstrap4 .select2-selection {
  background-color: #fafbfe;
}

.select2-container--bootstrap4 .select2-results__group {
  font-family: "fira_sans_medium", Arial, sans-serif;
  color: #333;
  background: #ccd8ef;
  font-weight: normal;
  font-size: inherit;
}

.select2-container--bootstrap4 .select2-results__option .select2-results__option {
  padding: 0.75rem 1.275rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  padding: 0.45rem 0.075rem 0.75rem 0.075rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  z-index: 0;
  background-color: #ccd8ef;
  border-radius: 0.125rem;
  background-clip: padding-box;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: relative;
  z-index: 1;
  display: block;
  padding: .45rem 0.55rem .45rem .5rem;
  color: #5d77bc;
  margin: -0.25rem 0 0.5rem 0.1875rem;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 0.475rem;
  float: right;
  color: #333;
  font-weight: normal;
}

