// Main colors
$black: #515053;
$orange: #ff6908;
$yellow: #ffeb3b;
$violet: #8e43e7;
$red: #f44336;

// Ext colors
$link: #007bff;
$gray: #f4f6fa;
$graynew: #F0F5F9;
$green: #4BC04E;
$blackhalf: #333;
$bluehalf: #ccd8ef;
$formtitle: #656d9c;

$subheader: #0c55ff;