a:hover,
a:focus {
    text-decoration: none;
    color: $link;
}

a:visited {
    text-decoration: none;
}

.btn{

    &-reg {
        color: #fff;
        border-radius: 30px;
        
        text-transform: uppercase;
        font-family: $robotomedium;
        padding: 10px 20px;
        background: rgba($color: $violet, $alpha: 0.5);
        
        &:hover,
        &:active {
            color: #fff;
            background: $violet;
        }

        &:focus, &:visited  {
            box-shadow: none;
            color: #fff;
        }

        .jam{
            position: relative;
            top: 1px;
            padding-left: 5px;
        }
    }

    &-sign{
        background: $violet;
        color: #fff;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: $robotomedium;
        padding: 10px 20px;
        width: 100%;

        &:hover,
        &:active {
            background: rgba($color: $violet, $alpha: 0.5);
            color: #fff;
        }

        &:focus,
        &:visited {
            box-shadow: none;
            color: #fff;
        }

        .jam {
            position: relative;
            top: 1px;
            padding-left: 5px;
        }
    }

    &-group {
        &-toggle {
            .btn {
                background: #fff;
                border-color: transparentize($formtitle, 0.5);
                color: $blackhalf;
                font-size: 0.875rem;

                &:not([disabled]):not(.disabled).active {
                    background-color: $green;
                    border-color: transparentize($green, 0.5);
                    box-shadow: none;
                }

                &-secondary {
                    color: rgba($color: $black, $alpha: 0.5);
                }
            }
        }
    }

    &-save,
    &-cancel {
        background: $green;
        color: #fff;
        border-radius: 3px;
        font-family: $robotoregular;
        padding: 5px 10px;
        display: inline-block;
        &:hover,
        &:active {
            background: rgba($color: $green, $alpha: 0.5);
            color: #fff;
        }
        &:focus,
        &:visited {
            box-shadow: none;
            color: #fff;
        }
    }

    &-save {
        background: $violetnew;
        &:hover,
        &:active {
            background: rgba($color: $violetnew, $alpha: 0.7);
        }
    }

    &-cancel {
        background: $bluehalf;
        &:hover,
        &:active {
            background: rgba($color: $bluehalf, $alpha: 0.7);
        }
    }
}