.footer {
    background: $gray;
    -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.03);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.03);
    z-index: 3;
    padding: 60px 15px;
    margin-top: 60px;
    &-title {
        h6 {
            font-family: $robotoregular;
            color: $black;
            height: 40px;
            width: auto;
            display: table-cell;
            vertical-align: middle;
            text-transform: uppercase;
        }
    }
    &-body {
        margin-bottom: 15px;
        font-family: $robotoregular;
        article {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                padding: 5px 0;
                color: $black;
                font-size: 14px;
                
                a{
                    color: $black2;
                    &:hover{
                        color: $link;
                    }
                }
            }
        }
    }
}