.sign{
    margin: 60px 0;
    border-radius: 5px;

    &-left{
        text-align: center;
        img{
            padding: 30px;
            height: 350px;
        }
    }

    &-right{
        &-top{
            h3{
                font-family: $firasansmedium;
                color: $violet;
            }
        }
        &-middle{
            h5{
                font-family: $robotolight;
                color: rgba($color: $black, $alpha: 0.8);
            }
            .soc-icons{
                padding: 0;
                margin: 0;
                list-style-type: none;

                li{
                    display: inline-block;

                    a{
                        font-size: 40px;
                        color: rgba($color: $black, $alpha: 0.8);

                        .jam{
                            &-facebook-square{
                                &:hover{
                                    color: #3b5998;
                                }
                            }
                            &-twitter-square{
                                &:hover{
                                    color: #1da1f2;

                                }
                            }
                            &-google-square{
                                &:hover{
                                    color: #dd4b39;

                                }
                            }
                        }
                    }
                }
            }

            &-line{
                font-family: $firasansmedium;
                position: relative;
                text-transform: uppercase;
                text-align: center;
                color: $violet;
                margin-bottom: 15px;

                &:before {
                    border-bottom: 1px solid rgba($color: $violet, $alpha: 0.5);;
                    border-top: 1px solid rgba($color: $violet, $alpha: 0.5);;
                    content: "";
                    margin: -5px auto;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;
                    height: 5px;
                }
                span{
                    background: #fff;
                    padding: 0 15px;
                    font-size: 18px;
                }
            }
        }
    }

    &-bottom{
        font-family: $robotomedium;
        font-size: 14px;
        margin: 10px 0;
        
        a{
            color: rgba($color: $black, $alpha: 0.8);
            &:hover {
                color: $link;
                text-decoration: underline;
            }
        }

        .sign-new{
            position: relative;
            display: block;
            a{
                color: rgba($color: $black, $alpha: 0.8);
                &:hover {
                    color: $link;
                    text-decoration: underline;
                }

            }
        }
    }


    .form{
        &-control{
            font-family: $robotolight;
            border-radius: 2px;
            border-color: rgba($color: $violet, $alpha: 0.3);
            background: rgba($color: $violet, $alpha: 0.03);

            &:focus{
                box-shadow: none;
                background: none;
                color: $black;
            }
        }
    }
    .custom {
        &-control {
             color: $black;

             &-input{
                &:focus~.custom-control-label::before{
                    box-shadow: none;
                    outline: none;
                }

                &:checked~.custom-control-label::before {
                    background: $violet;
                }

             }
             &-label{
                font-family: $robotomedium;
                font-size: 14px;
                &:before{
                    border-radius: 0.09rem;
                }
                
                &:after{
                    cursor: pointer;
                }
             }
        }
    }

    .terms{
        position: relative;
        font-family: $robotomedium;
        color: $black;
        top: 5px;

        a{
            text-decoration: underline;
            color: $link;
        }
    }

    &-success{
        margin: 60px 0;
        h3{
            font-family: $firasansmedium;
            color: $orange;
        }
        h5{
            font-family: $robotolight;
            color: $black;
            
            span{                
                font-family: $robotoregular;
            }
            
            a{
                font-family: $robotoregular;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    #avatar-upload {
        background-image: url('');
        background-size: cover;
        background-position: center;
        height: 160px;
        width: 160px;
        border: 1px solid #dee2e6;
        position: relative;
        margin: 0 auto;
        border-radius: 50%;
        &:hover {
            input.upload {
                display: block;
            }
            .hvr-rectangle-out {
                display: inline-block;
            }
        }
        .jam {
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: right;
            right: 0;
            color: $violet;
            padding: 6px;
            pointer: none;
            font-size: 20px;
        }
        .upload-img.jam {
            margin: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: left;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
            padding: 6px;
            pointer: none;
        }

        &-title{
            color: $violet;
            text-align: center;
        }
    }

    .upload-img {
        opacity: 0;
        transition: opacity 1s linear;
    }

    #profile-upload:hover+.upload-img {
        opacity: 1;
    }

    input.upload {
        z-index: 1;
        left: 0;
        margin: 0;
        bottom: 0;
        top: 0;
        padding: 0;
        opacity: 0;
        outline: none;
        cursor: pointer;
        position: absolute;
        background: #ccc;
        width: 100%;
        display: none;
    }

    .hvr-rectangle-out {
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        vertical-align: middle;
        position: relative;
        background: transparent;
    }
}

.infoform{

    .avatar-upload {
        position: relative;
        max-width: 300px;
        width: 100%;
        margin: 20px auto;
        .btn-file {
            position: absolute;
            right: 12px;
            z-index: 99 !important;
            top: 10px;

            label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                z-index: 100 !important;

                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                span.jam {
                    color: #757575;
                    position: absolute;
                    top: 15px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
        .fileinput{
            text-align: center;

            .delete-avatar{
                font-family: $robotolight;
                color: $red;
                border-bottom: 1px dashed rgba($color: $red, $alpha: 0.5);
                font-size: 14px;
            }
        }
        .fileinput-preview,
        .thumbnail {
            width: 250px;
            height: 250px;
            position: relative;
            border-radius: 100%;
            border: 6px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        }
        }
    }
    .form {
        &-control {
            font-family: $robotolight;
            border-radius: 2px;
            border-color: rgba($color: $black, $alpha: 0.15);
            background: #fafbfe;
            &:focus {
                box-shadow: none;
                background: #fff;
                color: $black;
                border: 1px solid #656d9c;
                box-shadow: 0 0 4px rgba(135, 121, 189, 0.53);
            }
        }

        &-group{
            label{
                font-family: $firasansmedium;
                color: #656d9c;
                font-size: 15px;
            }
            span.required{
                color: $orange;
                padding-left: 5px;
            }
        }
    }

    .custom {
        &-control {
            color: $black;
            &-input {
                &:focus~.custom-control-label::before {
                    box-shadow: none;
                }
                &:checked~.custom-control-label::before {
                    background: $green;
                }

                &:checked+label {
                    color:$green !important;
                }
            }
            &-label {
                font-size: 16px !important;
                text-transform: uppercase;
                color: rgba($color: $black, $alpha: 0.5) !important;
                &:after {
                    cursor: pointer;
                }
            }
        }

        &-checkbox{
            .custom-control-label {
                font-family: $robotoregular;
                font-size: 16px !important;
                text-transform: inherit;
                color: rgba($color: $black, $alpha: 0.8) !important;
                &:after {
                    cursor: pointer;
                }
            }
        }

    }
    .has-error{
        .with-errors {
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
        }

        .form-control{
            &:invalid{
                border-color: #dc3545;

                &:focus{
                    border-color: #dc3545;
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
                    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
                }
            }
        }

        label{
            color: #dc3545;
        }
    }

    .fileinput{
        &-cover{            
            .thumbnail{
                border: 1px dashed #c2cdda;
                border-radius: 3px;
            }
        }

        &-controls{
            position: absolute !important;
            top: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            flex-flow: column;
            min-height: 150px;
            text-align: center;
            width: 200px;
            margin: 0 auto;

            &:hover{
                border: 1px dashed $link;
                background: $gray;
                border-radius: 3px;
            }

            .fileinput-new,
            .fileinput-exists {
                font-size: 30px;
                cursor: pointer;
                color: $formtitle;


                &:hover{
                    .jam{                        
                        &-trash{
                            color: $red;    
                        }
                        &-pencil{
                            color: $link;
                        }
                    }
                }
                
                
            }
        }
    }
}

.custom-label {
    font-family: $firasansmedium;
    color: #656d9c;
    font-size: 15px;
}

.input-img{
    height: 17px;
    width: 17px;
    padding: 2px;
    opacity: 0.6;
}