.homepage{
    background: url('/img/home/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &-info{
        width: 100%;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 30px 0;

        &-text{
            font-family: $firasansbold;
            color: $black;
        }

        &-block{
            background: #fff;
            padding: 30px;
            width: 100%;
            border-radius: 5px;
            margin-top: 30px;

            h5{
                font-family: $robotobold;
                color: $violet;
                text-transform: uppercase;
            }
            &-small{
               font-family: $firasansmedium;
               color: rgba($color: $violet, $alpha: 0.7);
               text-transform: uppercase;
               border-bottom: 1px dashed;
               display: inline-block;
            }

            &-cols{
                padding: 45px 0 15px 0;

                &-info{
                    margin-bottom: 30px;
                    position: relative;

                    &-number{
                        text-align: left;
                        width: 100%;
                        display: inline-block;
                        font-family: $firasansmedium;
                        color: rgba($color: $violet, $alpha: 0.4);
                        font-size: 36px;
                        position: absolute;
                        left: 10px;
                        bottom: 0;
                        top: -23px;
                    }
                    &-left, &-right{
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &-left{
                        padding-right: 15px;

                        .jam{
                            text-align: center;
                            width: 100%;
                            display: inline-block;
                            color: $violet;
                            font-size: 36px;
                            z-index: 2;
                            position: relative;
                            overflow: hidden;
                            background: #fff;
                        }
                    }
                    &-right{
                        h5{
                            color: rgba($color: $black, $alpha: 0.9);
                            font-family: $robotomedium;
                            text-transform: none;
                        }

                        h6{
                            color: rgba($color: #000, $alpha: 0.7);
                            font-family: $robotolight;
                        }
                    }
                }
            }
        }
    }

}