.home{
    background: url('/img/home/bgi.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homepage{
    background: url('/img/home/bgi.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &-info{
        width: 100%;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 60px 0 90px 0;

        &-text{
            font-family: $firasansbold;
            color: $black;
        }

        &-block{
            background: rgba($color: #fff, $alpha: 0.9);
            padding: 30px;
            width: 100%;
            border-radius: 5px;
            margin-top: 30px;

            h5{
                font-family: $robotobold;
                color: $violet;
                text-transform: uppercase;
            }
            &-small{
               font-family: $firasansmedium;
               color: rgba($color: $violet, $alpha: 0.7);
               text-transform: uppercase;
               border-bottom: 1px dashed;
               display: inline-block;
            }

            &-cols{
                padding: 45px 0 15px 0;

                &-info{
                    margin-bottom: 30px;
                    position: relative;

                    &-number{
                        text-align: left;
                        width: 100%;
                        display: inline-block;
                        font-family: $firasansmedium;
                        color: rgba($color: $violet, $alpha: 0.4);
                        font-size: 36px;
                        position: absolute;
                        left: 10px;
                        bottom: 0;
                        top: -23px;
                    }
                    &-left, &-right{
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &-left{
                        padding-right: 15px;

                        .jam{
                            text-align: center;
                            width: 100%;
                            display: inline-block;
                            color: $orange;
                            font-size: 36px;
                            z-index: 2;
                            position: relative;
                            overflow: hidden;
                        }
                    }
                    &-right{
                        h5{
                            color: rgba($color: $black, $alpha: 0.9);
                            font-family: $robotomedium;
                            text-transform: none;
                        }

                        h6{
                            color: rgba($color: #000, $alpha: 0.7);
                            font-family: $robotolight;
                        }
                    }
                }
            }
        }
    }

}

.first {
    background: url('/img/home/first.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &-info {
        width: 100%;
        height: 90vh;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 30px 0;
        &-text {
            font-family: $firasansbold;
            color: $black;
            img, blockquote{
                display: table-cell;
                vertical-align: top;
            }

            img{
                height: 58px;
                width: auto;
                float: left;
                margin-right: 30px;
            }

            blockquote{
                color: $black2;

                h2{
                    margin: 0;
                }

                h6{
                    font-family: $firasansmedium;
                }
            }
        }
        &-second {
            &-text {
                padding-top: 30px;
                margin-top: 30px;
                margin-bottom: 60px;
                font-family: $firasansbold;
                color: $black2;
                border-top: 1px solid #c3b8b2;
                display: block;
                width: 100%;

                h3{
                    margin-bottom: 15px;
                    font-size: 1.65rem;
                }

            }
        }
    }

    #scrolldown {
        bottom: 15px;
        height: 100px;
        margin-left: -50px;
        position: absolute;
        left: 50%;
        text-align: center;
        width: 100px;
        z-index: 100;

        &:hover{
            cursor: pointer;
            p,{
                color: $red;
            }
            .mouse{
                border-color: $red;
            }
        }
    }

    #scrolldown p {
        font: 700 0.7em/1em 'Avenir', sans-serif;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: scroll;
        color: #333;
    }

    #scrolldown>p {
        text-transform: uppercase;
        text-indent: 3px;
    }

    .mouse {
        border: 2px solid #fff;
        border-radius: 13px;
        display: block;
        height: 46px;
        left: 50%;
        margin: 10px 0 0 -13px;
        position: absolute;
        width: 26px;
        background: rgba($color: #fff, $alpha: 0.3);
    }

    .mouse span {
        display: block;
        font-size: 1.5em;
        margin: 6px auto;
    }

    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }
        100% {
            opacity: 0;
            transform: translateY(10px);
        }
    }

}

.top{
    background: url('/img/home/bgi.png') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -20px;

    &-info{
        width: 100%;
        max-height: 100%;
        height: 400px;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 30px 0;

        &-text {
            h3{
                color: $black;
                font-family: $firasansmedium;
            }
            h4{
                color: $black;
                font-family: $firasansmedium;
            }
        }
    }
    
}

.wrap{
    // box-shadow: 0px 15px 15px 8px rgba(69, 101, 173, 0.03);
    margin-bottom: 30px;
    position: relative;
    display: block;
    margin-top: -80px;
    background: #fff;
    border-radius: 3px;
    height: 100%;
    padding: 30px;
    .title {
        &-header {
            border-bottom: 1px solid #eee;
            padding: 0 0 15px 0;
            h6 {
                color: $violetnew;
                text-transform: uppercase;
                margin: 0;
            }
        }
    }
    
    &-content{
        margin-bottom: 30px;
        padding: 15px 0;

        .specs{
            &-link{
                color: $black;
                font-family: $robotolight;
                &:hover{
                    color: $violet;
                }
            }
        }

    }

    &-info{
        &-top{
            padding: 15px 0;

            h5{
                color: #4f4b67;
                text-transform: uppercase;
                margin: 0;
                font-family: $robotomedium;
            }
        }

        &-article{
            
        }
    }
    
}