/* Tagify */

tags {
    border-color: none ;
    background: #fafbfe;
    border-radius: 0.125rem;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

tags tag {
    margin: 0 0 0 .25rem;
    padding: .25rem 0;
}

tags tag>div {
    padding: .25rem 1.25rem .25rem .5rem;
    color: #5d77bc;
}

tags tag>div>span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1;
    display: block;
}

tags tag>div::before {
    z-index: 0;
    background-color: #ccd8ef;
    border-radius: 0.125rem;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

tags tag x {
    font-size: 1rem;
    line-height: 1rem;
    right: .25rem;
}

tags tag x:hover {
    color: #5d77bc;
    background: none;
}

tags tag x:hover+div {
    color: #5d77bc;
}

tags tag x:hover+div::before {
    background: #ccd8ef;
}

tags tag x:hover+div span {
    opacity: 1;
}

tags tag:hover div::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ccd8ef;
    -webkit-box-shadow: none;
    box-shadow: none;
}

tags input.form-control {
    display: none;
    border: none;
}

tags>div {
    margin: 0 .5rem;
    padding: .25rem 0;
}

tags>div>input {
    line-height: 1rem;
    padding: .25rem 0;
    background: none;
}

tags>div>input.placeholder~span {
    opacity: 1;
}

tags>div span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1rem;
    top: .5rem;
    color: #5d77bc;
}

// Tooltip

// .tooltip {
//     opacity: 1 !important;
// }

// .tooltip-inner {
//     background-color: $green;
//     background: $green;
//     color: #fff;
//     font-family: $robotomedium;   
// }

// .tooltip.bs-tooltip-right .arrow:before {
//     border-right-color: $green !important;
// }

// .tooltip.bs-tooltip-left .arrow:before {
//     border-left-color: $green !important;
// }

// .tooltip.bs-tooltip-bottom .arrow:before {
//     border-bottom-color: $green !important;
// }

// .tooltip.bs-tooltip-top .arrow:before {
//     border-top-color: $green !important;
// }