@media (max-width: 576px) {

    .portfolio-view-top-right{
        padding: 15px !important;
    }

    .portfolio-header-ava-img{
        width: 200px !important;
        height: 200px !important;
    }

    .homepage{
        &-info-block {
            padding: 30px 30px 80px 30px;
        }
    }

    .first{
        #scrolldown{
            display: none;
        }

        &-info-text img{
            height: 25px;
            float: none;
            margin-bottom: 10px;
        }

        &-info-second-text{
            padding-top: 15px;
            margin-top: 10px;

            h3{
                font-size: 1.25rem;
            }
        }
    }

    .btn{
        &-reg{
            width: 100%;
        }
        &-signin{
            position: relative;
            display: block;
            width: 100%;
            margin: 10px 0;
        }
    }

    .user-profile-content{
        box-shadow: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .left-navbar {
        padding: 0;
        margin-bottom: 15px;

        .nav-item{
            padding: 10px 0;
            
            .nav-link {
                margin: 0;
                border: none;
            }
        }
    }

    .blog{
        &-item{
            &-img{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .homepage{
        &-info{
            height: inherit;
        }
    }

    .sw-theme-custom>ul.step-anchor>li {
        width: 100% !important;
        padding: 10px 0 !important;
        margin: 0 !important; 
    }

    .sw-theme-custom .step-content-inner{
        padding: 15px !important;
    }

    .portfolio-header {
        &-ava-img {
            float: none !important;
            margin-bottom: 10px !important;
        }
        &-info{
            text-align: center !important;
        }
    }

    .bidform .form-group label{
        text-align: left;
    }
}

@media (max-width: 992px) {

    #main-nav {
        display: inline-block !important;
        padding: 30px 20px 0 15px;
        .user-header {
            .dropdown{
                &-menu {
                    box-shadow: none;

                    &-right{
                        display: block;
                    }
                }
                &-item{
                    padding: 10px 0;
                    .jam{
                        padding-right: 10px;
                    }
                }
            }
            &-link-login-img {
                margin: 0 5px 0 0;
            }
        }

        
    }

    .portfolio-item-info-title{
        font-size: 14px;
        line-height: 16px;
    }
    .portfolio-ul-li-text{
        font-size: 12px !important;
    }

    .user-profile-content-list-capture{
        width: inherit !important;
    }

}

@media (max-width: 1200px) {
}


// Min widths


// MIN WIDTH
@media (min-width: 992px) {
    #main-nav {
        position: relative;
        z-index: 0;
        right: auto;
        top: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        width: 100%;
        text-align: right;
    }
    #hamburger-menu {
        display: none;
    }

}
