header{
    margin-bottom: 20px;
}

.navbar{
    font-family: $robotoregular;
    padding: 1rem;

    &.light{
        background: #fff;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.03);
        z-index: 3;
    }
    &-brand{
        color: $violet;
        font-family: $firasansmedium;

        &:hover {
            color: rgba($color: $violet, $alpha: 0.6);
        }

        &:focus{
            color: rgba($color: $violet, $alpha: 0.6);
        }

        .badge-beta{
            position: relative;
            top: -15px;
            font-size: 60%;
            display: inline-block;
            padding: 0.3em 0.5em;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25rem;
            color: #fff;
            background-color: $orange;
        }
    }

    &-nav{
        font-family: $robotomedium;
    }

    .nav{
        &-link {
            color: $formtitle;
            line-height: 20px;
            span.jam{
                position: relative;
                top: 1px;
                padding-left: 5px;
            }

            &:hover{
                color: $orange;
            }
        }
    }
}

// Offset mobile menu
#main-nav {
    position: fixed;
    z-index: 199;
    right: -100%;
    top: 0;
    width: 260px;
    height: 100%;
    @include boxshadow;
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease;
    
    background: #fff;
    padding-top: 10px;
    &.speed-in {
        right: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

}

.speed-in{
    .nav-link {
        color: $black;
        border-bottom: 1px solid #eee;

        span.jam {
            position: relative;
            top: 1px;
            padding-left: 5px;
        }
        
        &:hover {
            background: none;
            color: $orange;
        }
    }

}

#hamburger-menu {
    display: inline-block;
    vertical-align: middle;
    float: right;
    padding: 1rem 0;

    .line {
        display: block;
        width: 24px;
        height: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-clip: padding-box;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: $violet;
        cursor: pointer;
    }
    &.is-active .line {
        &:nth-child(1) {
            opacity: 0;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &:nth-child(3) {
            opacity: 0;
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

#shadow-layer {
    position: fixed;
    z-index: 198;
    right: 0;
    top: 0;
    display: none;
    min-height: 100%;
    width: 100%;
    background: rgba(36, 37, 38, 0.25);
    cursor: pointer;

    &.is-visible {
        display: block;
        -webkit-animation: pd-fade-in 0.3s;
        -o-animation: pd-fade-in 0.3s;
        animation: pd-fade-in 0.3s;
    }
}


.list{
    &-menu{
        padding: 0;
        margin: 0;
        font-family: $robotomedium;
        list-style-type: none;
        margin-bottom: 30px;
        
        &-title{
            color: $orange;
            font-family: $robotobold;
            padding: 15px 20px;
            background: rgba($color: $violetgray, $alpha: 0.1);
        }
        &-item{
            border-bottom: 1px solid #eee;

            &:last-child{
                border-bottom: none;
            }
            
            .jam{
                padding-right: 5px;
            }
            
            a{
                padding: 15px;
                position: relative;
                display: block;
                color: $violetgray;
                background: rgba($color: $violetnew, $alpha: 0.06);
                
                &:hover{
                    color: $violetnew;
                    background: rgba($color: $violetnew, $alpha: 0.1);
                }

                &.active{
                   color: $violetnew;
                   background: rgba($color: $violetnew, $alpha: 0.1);
                }
            }
        }
    }
}

.left-navbar{
    font-family: $firasansmedium;

    .nav-item{
        .nav-link{
            color: $formtitle;
            padding: 0;
            margin: 0.5rem;

            &:hover{
                color: $violet;
                border-bottom: 1px dashed $violet;
            }
        }
    }
}