@import 'fonts';
@import 'colors';

.sw-theme-custom {
    margin: 15px 0;
    .sw-container {
        min-height: 300px;
    }
    .step-content {
        border: none;
        // background-color: $graynew;
        margin: 30px 0;
        padding: 20px 0;
        border-radius: 3px;

        &-top{
            text-align: center;
            padding: 15px 0 30px 0;
            
            h4{
                text-transform: uppercase;
                font-family: $firasansmedium;
                color: $green;
            }

            span{
                color: #89969F;
                font-family: $robotomedium;
            }
        }
    
        &-inner{
             -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
             -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
             box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
             border-radius: 3px;
             padding: 60px;
        }
    }
    .sw-toolbar {
        background: #fff;
        border-radius: 0 !important;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 0 !important;
    }
    .sw-toolbar-top {
        border-bottom-color: #ddd !important;
    }
    .sw-toolbar-bottom {
        border-top-color: #ddd !important;
        border-bottom-color: #ddd !important;
        float: none;
        padding: 0 20px;
        font-family: $firasansmedium;
        width: 100%;
        padding-bottom: 120px;
        display: block;
        text-align: center;

        .sw-btn-prev,
        .sw-btn-next{
            padding: 15px 20px;
        }

        .sw-btn-finish{
            padding: 15px 20px;
        }

        .sw-btn-prev{
            background: #656d9c;
            border: none;
            color: #fff;

            // &:hover {
            //     background: rgba($color: #656d9c, $alpha: 0.8);
            //     color: #fff;
            // }

            &.disabled{
                background: rgba($color: $gray, $alpha: 0.5);
                color: $blackhalf;
                &:hover {
                    background: $gray;
                    color: $black;
                }
            }


            &:active,
            &:focus,
            &:visited {
                box-shadow: none;
                border: none;
            }
        }

        .sw-btn-next{
            background: $green;
            border: none;

            &:hover{
                background: rgba($color: $green, $alpha: 0.8);
            }

            &:active,
            &:focus,
            &:visited {
                box-shadow: none;
                border: none;
            }
        }
        
        .sw-btn-finish{
            background: $red;
            border: none;
            color: #fff;

            &:hover{
                background: rgba($color: $red, $alpha: 0.8);
            }

            &:active,
            &:focus,
            &:visited {
                box-shadow: none;
                border: none;
            }
        }
    }
    >ul.step-anchor {
        position: relative;
        background: #fff;
        border: none;
        list-style: none;
        font-family: $firasansmedium;
        padding: 0 20px;

        >li {
            position: relative;
            border: none;
            width: 25%;
            margin: 0;
            padding: 30px 0;
            >a {
                border: none;
                color: #ccc;
                text-decoration: none;
                outline-style: none;
                padding: 0;
                text-transform: uppercase;

                .jam-check{
                    border-radius: 50%;
                    color: #fff;
                    background: #C8D3DA;
                    font-size: 16px;
                    padding: 3px;
                    vertical-align: middle;
                    top: -3px;
                    position: relative;
                    margin-right: 10px;
                    font-weight: bold;
                }
                &:hover {
                    color: #ccc;
                    background: transparent;
                }
                &:focus {
                    color: #ccc;
                    border: none;
                }
                 &:after {
                     content: "";
                     background: $green;
                     height: 2px;
                     position: absolute;
                     width: 100%;
                     left: 0px;
                     bottom: 0px; // -webkit-transition: all 250ms ease 0s;
                     transition: all 250ms ease 0s;
                     -webkit-transform: scale(0);
                     -ms-transform: scale(0);
                     transform: scale(0);
                 }
                
            }
            &.clickable>a:hover {
                color: #999;
            }
            &.active>a {
                color: $blackhalf;

                .jam-check {
                    border: 2px solid $green;
                    background: #C2F2C3;
                    color: $green;
                }

                &:hover {
                    border: none;
                }
                &:after {
                    content: "";
                    background: #c2f2c3;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
            &.done>a {
                color: $green;
                &:after {
                    background: $green;
                }

                .jam-check {
                    border: 2px solid $green;
                    background: $green;
                    color: #fff;
                }
                &:after {
                    content: "";
                    background: $green;
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
            &.danger>a {
                color: #d9534f;
                &:after {
                    background: #d9534f;
                }
            }
            &.disabled>a {
                color: #eee !important;
                &:hover {
                    color: #eee !important;
                }
                &:after {
                    background: #eee;
                }
            }
        }
    }
}

/* Anchors styles */

/* Active anchors */

/* Done anchors */

/* Danger anchors */

/* Responsive CSS */

@media screen and (max-width: 768px) {
    .sw-theme-custom>ul.step-anchor {
        &:before {
            top: 0;
            bottom: 0;
            left: 10px;
            width: 5px;
            height: 100%;
            background-color: $gray;
            display: block;
            margin-right: 10px;
        }
        >li {
            margin-left: 20px;
            display: block;
            clear: both;
            >a {
                text-align: left;
                margin-left: 0;
                display: block;
                &:before {
                    top: 5px;
                    left: -23px;
                    margin-right: 10px;
                    display: block;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
}

@import "~select2-bootstrap4-theme/dist/select2-bootstrap4";

.select2-container--bootstrap4 {
    .select2-selection {
        background-color: #fafbfe;
    }
    .select2-results__group {
        font-family: $firasansmedium;
        color: #fff;
        background: #656d9c;
        font-weight: normal;
        font-size: inherit;
        padding: 15px;
    }

    .select2-results__option .select2-results__option{
        padding: 10px 15px 10px 30px;
        font-family: $firasansmedium;
        background: #656d9cc9;
        color: #fff;
        border-bottom: 1px solid #7b81aa;

        &:hover{
            background: #656d9c;
        }
    }

    .select2-dropdown {
        background: #fff;
        border: 1px solid #656d9c;
        box-shadow: 0 0 4px rgba(135, 121, 189, 0.53);
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }

    .select2-results>.select2-results__options{
        min-height: 350px;
    }

    &.select2-container--focus .select2-selection,
    &.select2-container--open .select2-selection {
        border: 1px solid #656d9c;
        box-shadow: 0 0 4px rgba(135, 121, 189, 0.53);
    }
}

.select2-container--bootstrap4 .select2-selection--multiple {
    .select2-selection__rendered {
        padding: 0.45rem 0.075rem 0.75rem 0.075rem;
    }

    .select2-selection__choice {
        z-index: 0;
        background-color: #ccd8ef;
        border-radius: 0.125rem;
        background-clip: padding-box;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        position: relative;
        z-index: 1;
        display: block;
        padding: .45rem 0.55rem .45rem .5rem;
        color: #5d77bc;
        margin: -0.25rem 0 0.5rem 0.1875rem;
    }

    .select2-selection__choice__remove {
        margin-left: 0.475rem;
        float: right;
        color: #333;
        font-weight: normal;
    }
}


