.portfolio{
    padding: 20px 0;
    
    &-control{
        position: relative;
        display: block;
        
        &-right{
            text-align: right;
        }
    }

    &-body{
    }
    
    &-item {
        margin-bottom: 30px;
        
        // overflow: hidden;
        

        &-img{
            position: relative;
            display: block;
            border-radius: 3px;
            box-shadow: 0px 0px 50px #d7dbe8;
            overflow: hidden;

            &:hover{
                #showOverlay {
                    display: block;
                    background: rgba($color: $violetnew, $alpha: 0.7);
                    ul{
                        height: 100%;
                        width: 100%;
                        margin: 0 auto;
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        flex-flow: column;
    
                        li span{
                            color: #fff;
                        }
                    }
                }
            }

            &-overlay {
                position: absolute;
                display: none;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5px;
                font-family: $robotolight;

                .portfolio-ul {
                    padding: 0;
                    margin: 0;
                    &-li {
                        display: inline-block;
                        margin-right: 10px;
                        span {
                            display: table-cell;
                            vertical-align: middle;
                            color: #7684a0;
                        }
                        .jam {
                            padding-right: 5px;
                            font-size: 20px;
                        }
                        &-text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        &-info{
            padding: 15px 0 0;
            
            &-title {
                height: 60px;
                font-family: $robotomedium;
                line-height: 20px;
                overflow: hidden;
                a {
                    color: $black;
                    &:hover {
                        // border-bottom: 1px solid rgba($color: $black, $alpha: 0.6);
                        color: $violetnew;
                    }
                }
            }
        }
    }

    &-file-add{

        .imgfiles{
            padding: 15px 0 0 0;
        }
        .img-upload-btn {
            position: relative;
            overflow: hidden;
            padding-top: 95%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .img-upload-btn input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        .img-upload-btn .jam {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
        }

        .btn-radio {
            position: relative;
            overflow: hidden;
        }

        .btn-radio input[type=radio] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

        .preview {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .backhighlighter {
            background: #f4f6fa;
            border-radius: 3px;
            border: 1px dashed #d4d9e4;
        }

        .deletor {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: $red;
            border-radius: 0;

            small{
                color: #fff;
                font-weight: bold;
            }
        }

        .deletor:hover {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: #000;
            text-decoration: none;
        }
    }

    &-view{
        &-top{
            &-left,
            &-right {
                display: inline-block;
            }
            &-left{
                img{
                    position: relative;
                    display: block;
                    border-radius: 3px;
                    box-shadow: 5px 8px 45px rgba($color: $violetnew, $alpha: 0.6);
                    overflow: hidden;
                }
            }
        }
    }
}