.user{
    &-header{
        &-link{
            line-height: 35px;
            white-space: nowrap;

            &-img, &-login{
                display: inline-block;
                vertical-align: middle;
            }

            &-img{
                border-radius: 50%;
                border: 1px solid #eee;
                // img{
                //     height: 40px;
                //     width: auto;
                // }
            }
            &-login{
                color: $black;
                font-family: $robotoregular;
                cursor: pointer;

                &:hover{
                    color: #000;
                }

                .jam{
                    top: 1px;
                    position: relative;
                }
            }
        }

        .dropdown{

            @include boxshadow;
            
            &-menu{
                border: none;
                padding: 0;
                min-width: 100%;
                margin-top: 15px;

                box-shadow: 0px 15px 15px 8px rgba(69, 101, 173, 0.09);
            }
            &-item{
                font-family: $robotoregular;
                padding: 10px 20px;
                border-bottom: 1px dashed #eee;

                .jam{
                    padding-right: 5px;
                }
                
                &:hover,
                &:focus,
                &:visited {
                    background: #f8f9fa;
                    color: $black;
                }

                &:last-child{
                    border-bottom: none;
                }

            }
        }
    }

    &-profile {
        &-aside{
            .profile {
                &-ava {
                    position: relative;
                    display: block;
                    &-img{
                        width: 200px;
                        height: 200px;
                        margin: 20px auto;
                        overflow: hidden;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        position: relative;

                        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
                        -webkit-box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
                        
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
    
                        }
                    }
                    .verify{
                        position: absolute;
                        right: 0;
                        left: 0;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        border: 6px solid white;
                        margin: 0 auto;
                        bottom: -20px;
                        vertical-align: middle;
                        display: table-cell;
                        text-align: center;
                        background: #fff;

                        .jam{
                            color: #fff;
                            background: $green;
                            font-weight: bold;
                            font-size: 28px;
                            border-radius: 50%;
                        }
                    }
                }
                &-title{
                    font-size: 13px;
                    color: $violetnew;
                    text-transform: uppercase;
                    margin: 0px 0 15px 0;
                }
                &-info{
                    margin: 25px 0;
                    text-align: center;

                    &-name{
                        font-family: $robotobold;
                        font-size: 20px;
                        color: $black;
                    }
                    &-spec{
                        color: #666;
                        font-size: 16px;
                        font-family: $robotomedium;
                    }

                    &-loc{
                        font-family: $robotolight;
                        margin: 5px 0;
                        color: $formtitle;

                        &-span{
                            position: relative;
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            top: 9px;
                            &:before {
                                content: "";
                                z-index: 0;
                                display: block;
                                width: 15px;
                                height: 15px;
                                background: rgba($color: $violetnew, $alpha: 0.5);
                                border-radius: 50%;
                                animation: pulse-border 1500ms ease-out infinite;
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                z-index: 1;
                                left: -5px;
                                top: -5px;
                                display: block;
                                width: 10px;
                                height: 10px;
                                background: $violetnew;
                                border-radius: 50%;
                                -webkit-transition: all 200ms;
                                transition: all 200ms;
                            }
                        }

                        @keyframes pulse-border {
                            0% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                                opacity: 1;
                            }
                            100% {
                                transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                                opacity: 0;
                            }
                        }
                    }

                    &-contact{
                        border-top: 1px dashed #dbe2f0;
                        padding: 20px 0 15px 0;

                        &-list{
                            margin-bottom: 10px;
                        }

                        &-capture{
                            font-family: $robotolight;
                            color: #8e9bb6;
                        }

                        &-body{
                            font-weight: 400;
                        }
                    }

                    &-skills{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;

                        li{
                            display: inline-block;
                            padding: 5px 10px;
                            background: $violetnew;
                            font-family: $robotomedium;
                            color: #fff;
                            margin-bottom: 5px;
                            
                        }
                    }
                }
            }
        }
        &-content{
            margin: 20px 0;
            box-shadow: 0px 15px 15px 8px rgba(69, 101, 173, 0.09);
            height: 100%;

            &-title{
                padding: 20px 20px 10px 20px;
                font-family: $robotomedium;
                background: $gray;
                text-transform: uppercase;
                color: #56606F;
            }

            &-body{
                padding: 20px;
            }
            
            &-list{
                padding: 2px 0;

                &-capture, &-body{
                    display: inline-block;
                }

                &-capture {
                    font-family: $robotomedium;
                    color: $black2;
                    padding-right: 10px;
                }

                &-body {
                    font-weight: 400;
                }

                &-skill{
                    &-title{
                        position: relative;
                        display: block;
                        font-family: $robotomedium;
                        color: $black2;
                        margin-bottom: 15px;
                    }
                    &-list{
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        li {
                            display: inline-block;
                            padding: 5px 10px;
                            background: $violetnew;
                            font-family: $robotomedium;
                            color: #fff;
                            margin-bottom: 5px;
                            border-radius: 3px;
                        }
                    }
                }
            }

            &-about{
                margin: 10px 0;
            }
        }

        &-portfolio{
            &-item{
                margin-bottom: 30px;
                
                &-title{
                    padding: 10px 0;
                    font-family: $robotomedium;

                    a{
                        color: $violetnew;

                        &:hover{
                            border-bottom: 1px dashed;
                        }
                    }
                }

                &-alls{
                    position: relative;
                    display: block;
                    margin: 0;
                    
                    img{
                        opacity: 0.4;
                    }

                    &-overlay{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba($color: $violetnew, $alpha: 0.9);

                        display: -webkit-box;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        flex-flow: column;
                        
                        
                        text-transform: uppercase;
                        font-family: $robotomedium;
                        text-align: center;

                        a{
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}