@media print {
    @page {
        size: landscape;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    html {
        font-size: 12px;
    }
    .fc-scroller {
        overflow: visible !important;
    }
    .fc-event {
        border: 1px solid #ccc !important;
    }
    .print-hide{
        display: none !important;
    }
}
