.table-responsive {
    display: block;
    overflow-x: auto;

    width: 100%;

    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table {
    margin-bottom: 0;
    thead {
        tr {
            th {
                font-family: $base-font;
                font-weight: 700;
                font-size: .75rem;

                padding: .8rem 1rem;

                text-transform: uppercase;

                color: #0c55ff;
                border-top: none;
                border-bottom: 1px solid #16236c;
            }
        }
    }
    tbody {
        tr {
            cursor: pointer;
            &:hover {
                background: #fafbfe;
            }
            &.active{
                td{
                    background-color: $table-row-active;
                    border-color: $table-row-active;
                }
            }
            td {
                padding: 1rem;
                vertical-align: middle;

                color: $base-font-color;
                &.nowrap {
                    white-space: nowrap;
                }                
            }
        }
    }
    &.table-lightborder {
        td {
            border-color: #dae1f4;
        }
    }
}
.table-calendar {
    border: none;
    td,
    th {
        &:first-child {
            width: 5.5%;
        }
    }
    thead{
        tr{
            th{
                border: none;
            }
        }
    }
    tbody {
        tr {
            td {
                &:first-child {
                    width: 5.5%;
                }
            }
        }
    }
}

.user-avatar{
    height: 30px
}