.auth-wrapper {
	background-color: #ecf1f9;
    .all-wrapper {
        padding: 6.25rem;
    }
}
.auth-box-w {
    max-width: 450px;
    margin: 0 auto;
    background-color: $white;

    @include box-shadow(0 0 15px rgba(0,0,0,.1));
    @include border-radius(.125rem);
    .logo-w {
        padding: 20%;

        text-align: center;
    }
    .auth-header,
    .buttons-w {
        border-color: $border-color;
    }
    .auth-header {
        font-family: $base-font;
        font-weight: 500;

        position: relative;
        z-index: 1;

        margin-bottom: 2rem;
        padding-bottom: 1rem;
        padding-left: 5rem;

        color: $blue;
        border-bottom: 1px solid $border-color;
        &::after {
            position: absolute;
            bottom: -.25rem;
            left: 5rem;

            display: block;

            width: 2rem;
            height: 7px;

            content: '';

            background-color: $blue;

            @include border-radius(.125rem);
        }
    }
    form {
        padding: 1.25rem 5rem 3.75rem;
        .form-group {
            position: relative;
            svg {
                position: absolute;
                bottom: 5px;
                left: -38px;

                width: 1.5rem;

                fill: $vice-font-color;
            }
        }
    }
    .buttons-w {
        margin-top: 2rem;
        padding-top: 1rem;

        border-top: 1px solid $border-color;
    }
}
