@-webkit-keyframes fadeLeft {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);

        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);

        opacity: 1;
    }
}

@keyframes fadeLeft {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);

        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);

        opacity: 1;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);

        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);

        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);

        opacity: 1;
    }
}