$base-font-color:	#16236c;
$vice-font-color:	#5d77bc;

$red:				#ff315c;
$blue:				#0c55ff;
$blue2:				#4B90F7;
$white:				#ffffff;
$green:				#00CC99;

$light-blue:		#79c7fa;
$yellow:			#F6DE3D;
$light-green:		#A6F7B8;
$light-purple:		#e3b8ff;

$table-row-active: 	$light-blue;

$border-color: 		#dae1f4;

/* Form Colors */
$form-font-color: 	#5d77bc;
$form-border-color:	#ccd8ef;
$form-control-color:#fafbfe;

$btn-default-color:	#fafbfe;